body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('../public/images/mars_surface.png');
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
}
